@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "حذف اطلاعات شخصی و اطلاعات حساب کاربری";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-danger">@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>توجه داشته باشید که این فرایند غیرقابل بازگشت است. حذف اطلاعات شخصی باعث حذف کامل اطلاعات حساب کاربری شما می شود.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <h6>برای حذف اطلاعات خود می بایست رمز عبور حساب کاربری خود را وارد نمایید.</h6>
                <label asp-for="Input.Password">رمز عبور</label>
                <input asp-for="Input.Password" class="form-control"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
    <button class="btn btn-danger" type="submit">اطلاعات شخصی و حساب کاربری من را حذف کن.</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}