@page
@model PersonalDataModel
@{
    ViewData["Title"] = "مدیریت اطلاعات شخصی";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            حساب کاربری شما شامل اطلاعاتی است که قبلا برای ما ثبت کرده اید. این صفحه می توانید این اطلاعات را دریافت یا به طور کامل آنها را حذف نمائید.
        </p>
        <p>
            <strong>حذف اطلاعات شخصی ، اطلاعات حساب شما را به طور کامل پاک می کند. این فرایند قابل بازگت نمی باشد.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">دریافت</button>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">حذف</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}