@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "احراز هویت دوعاملی";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>شما هیچ کد بازیابی ندارید.</strong>
            <p>شما باید <a asp-page="./GenerateRecoveryCodes">یک سری کد بازیابی جدید ایجاد کنید</a> تا بتوانید در موارد ضروری از این کدهای بازیابی برای ورود به سیستم استفاده نمائید..</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>شما فقط یک کد بازیابی باقیمانده دارید.</strong>
            <p>You can <a asp-page="./GenerateRecoveryCodes">یک سری کد بازیابی جدید ایجاد کنید</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>شما @Model.RecoveryCodesLeft کد بازیابی باقیمانده دارید.</strong>
            <p>You should <a asp-page="./GenerateRecoveryCodes">یک سری کد بازیابی جدید ایجاد کنید</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">دیگر از این مرورگر استفاده نمی کنم.</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">غیرفعال سازی احراز هویت دوعاملی</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">تنظیم مجدد کدهای بازیابی</a>
}

<h5>نرم افزار احراز هویت</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">ثبت اطلاعات برای نرم افزار احراز هویت دوعاملی</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">تنظیم نرم افزار احراز هویت دوعاملی</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">تنظیم مجدد نرم افزار احراز هویت دوعاملی</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}