@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی غیر مجاز";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">شما اجازه دسترسی به این صفحه را ندارید.</p>
</header>
