@model Leave_Management.Models.ViewModels.LeaveRequestCreateViewModel

@{
    ViewData["Title"] = "درخواست مرخصی جدید";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<br />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                @Html.DropDownListFor(model => model.LeaveTypeId, new SelectList(Model.LeaveTypes, "Value", "Text"), "نوع مرخصی درخواستی ...", new { @class = "form-control" })
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control datepicker" autocomplete="off" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control datepicker" autocomplete="off" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="RequestComments" class="control-label"></label>
                <textarea asp-for="RequestComments" class="form-control"></textarea>
                <span asp-validation-for="RequestComments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" /> &nbsp;
                @if (User.IsInRole("Administrator"))
                {
                    <a class="btn btn-outline-secondary" asp-action="Index">بازگشت</a>
                }
            </div>

        </form>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
}
